<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments :: head}">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="~{fragments :: sideBar}"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">	

                <!-- Topbar -->
                <nav th:replace="~{fragments :: topBar}"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Loại sản phẩm</h1>
                    </div>
                    
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
                    	data-bs-target="#insertModal" data-bs-whatever="@mdo">Thêm
                    </button> <br><br>

                    
                    <div th:if="${categoryList.empty == true}" style="font-size: 40px;color: red; text-align: center;">
						No Category
					</div>
					
					<div th:if="${success}" class="alert alert-success text-center" th:text="${success}">				
					</div>
					
					<div th:if="${failed}" class="alert alert-danger text-center" th:text="${failed}">				
					</div>
                    
                    <table class="table" th:if="${categoryList.empty == false}">
						  <thead>
						    <tr>
						      <th scope="col">Id</th>
						      <th scope="col">Tên</th>
						      <th scope="col">Chỉnh sửa</th>
						      <th scope="col">Xóa</th>
						      <th scope="col">Phương thức</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="category : ${categoryList}">
						      <th scope="row" th:text="${category.id}"></th>
						      
						      <td th:text="${category.name}"></td>
						      
						      <td>
								  <a th:href="@{/categories/findById(id = ${category.id})}" class="btn btn-primary"
								  		id="updateButton"><i class="fa-solid fa-pen-to-square"></i>  
								  </a>
							  </td>
							  
							   <td>
								  <a th:href="@{/categories/deleteById(id = ${category.id})}" class="btn btn-danger"
								  		id="deleteButton"><i class="fa-solid fa-trash"></i> 
								  </a>
							  </td>
							  
							  <td>
								  <a th:if="${category.hidden == true}" th:href="@{/categories/activatedById(id = ${category.id})}" class="btn btn-success"
								  		id="activatedButton">
								  			<b 
								  				style="font-family: Cambria, Cochin, 
								  				Georgia, Times, 'Times New Roman', serif;">
											  	Kích hoạt
											</b>
								  </a>
								  
								   <a th:if="${category.hidden == false}" th:href="@{/categories/hiddenById(id = ${category.id})}" class="btn btn-dark"
								  		id="hiddenButton">
								  			<b 
								  				style="font-family: Cambria, Cochin, 
								  				Georgia, Times, 'Times New Roman', serif;">
											  	Ẩn
											</b>
								  </a>
							  </td>						  
						    </tr>
						  </tbody>
					</table>

                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="~{fragments :: footer}">       
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="~{fragments :: scroll}">
    </a>

    <!-- Logout Modal-->
    <div th:replace="~{fragments :: logoutModal}"></div>


	<!--Insert-->
	<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm loại sản phẩm</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/categories/insert}" method="post">
	          <div class="mb-3">
	            <label for="recipient-name" class="col-form-label">Tên:</label>
	            <input type="text" class="form-control" id="recipient-name" name="name">
	          </div>
	          
	          <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-primary">Thêm</button>
	     	 </div>
	        </form>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	<!--Update-->
	<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Chỉnh sửa</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/categories/update}" method="put">
			  <div class="mb-3">
	            <label for="recipient-name" class="col-form-label">Id:</label>
	            <input type="text" class="form-control" id="idUpdate" name="id" readonly>
	          </div>
	          
	          <div class="mb-3">
	            <label for="recipient-name" class="col-form-label">Tên:</label>
	            <input type="text" class="form-control" id="nameUpdate" name="name">
	          </div>
	          
	          <input type="hidden" id="activatedUpdate" name="activated">
	          <input type="hidden" id="hiddenUpdate" name="hidden">
	          
	          <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
		        <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
	     	 </div>
	        </form>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	
	<!--Delete-->
	<div class="modal" tabindex="-1" id="deleteModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Xóa</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <p>Bạn có muốn xóa loại sản phẩm này không</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
	        <a href="" id="deleteConfirmButton" class="btn btn-primary">Xóa</a>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!--Activated-->
	<div class="modal" tabindex="-1" id="activatedModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Kích hoạt</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <p>Bạn có muốn kích hoạt loại này không</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
	        <a href="" id="activatedConfirmButton" class="btn btn-primary">Kịch hoạt</a>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!--Hidden-->
	<div class="modal" tabindex="-1" id="hiddenModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Ẩn</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <p>Bạn có muốn ẩn loại này không</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
	        <a href="" id="hiddenConfirmButton" class="btn btn-primary">Ẩn</a>
	      </div>
	    </div>
	  </div>
	</div>
	

    <!-- Bootstrap core JavaScript-->
    <div th:replace="~{fragments :: script}">
	</div>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
    
    <script src="js/categories.js"></script>

    <!-- Page level custom scripts -->
    <!--<script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>-->

</body>

</html>