<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="~{fragments :: head}">
</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments :: mainTop}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments :: mainHeader}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments :: topSearch}"></div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div th:replace="~{fragments :: allTitleBox}"></div>
    <!-- End All Title Box -->

    <section id="login-form">
        <div class="noi-dung">
            <div class="form">
                <h2>Đổi mật khẩu</h2>
                 <div class="alert alert-success text-center" th:if="${success}" th:text="${success}"></div>
                 <div class="alert alert-success text-danger" th:if="${failed}" th:text="${failed}"></div>
                <form id="formId" th:action="@{/changePassword}" method="post">
                    <div class="input-form">
                        <!-- <span>User name</span> -->
                        <input type="email"  th:value="${username}"  placeholder="Email" name="username" required>
                    </div>
                    
                    
                    <div class="input-form">
                        <!-- <span>Password</span> -->
                        <input type="password"  id="oldPassword" th:value="${password}"  placeholder="Mật khẩu cũ" name="password" required >
                    </div>
                    <div class="input-form">
                        <!-- <span>Password</span> -->
                        <input type="password" th:value="${newPassword}" id="newPassword" placeholder="Mật khẩu mới" name="newPassword"   required>
                    </div>
                    <div class="input-form">
                        <!-- <span>Password</span> -->
                        <input type="password"  th:value="${newPassword}" id="repeatPassword"  placeholder="Xác nhận mật khẩu mới" name="repeatPassword" required  >
                    </div>
       
                    <div class="input-form">
                        <input type="submit" value="Đổi">
                    </div>
                    <div class="input-form">
						<p>Đăng đã có tài khoản ? <a th:href="@{/login}">Đăng nhập ngay  </a></p>
                        <p>Đăng chưa có tài khoản ? <a th:href="@{/register}">Đăng kí ngay  </a></p>
                        <p>Bạn đã quên mật khẩu ? <a th:href="@{/forgot-password}">Quên mật khẩu  </a></p>
                    </div>
                    
 
                </form>
                <h3>Log In With Social Network</h3>
                <ul class="icon-dang-nhap">
                    <li><i class="fab fa-facebook-f"></i></i></li>
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-weibo"></i></li>
                </ul>
            </div>
        </div>

        <!-- Start copyright  -->
	   <footer th:replace="~{fragments :: myFooter}"></footer>    
	    <!-- End copyright  -->  
    </section>
  
    <a  th:replace="~{fragments :: backToTop}"></a>

    <!--Script-->
    <div  th:replace="~{fragments :: script}"></div>
    
<script th:src="@{/js/active_ul_forLogin.js}"></script>

<script>
	document.getElementById('newPassword').addEventListener('input', function () {
		var reapeatPassword = document.getElementById('repeatPassword');
		if(reapeatPassword != null){
			reapeatPassword.setCustomValidity('');
		}
    	this.setCustomValidity('');
	});
	
	document.getElementById('repeatPassword').addEventListener('input', function () {
		var newPassword = document.getElementById('newPassword');
		if(newPassword !=null){
			newPassword.setCustomValidity('');
		}
	    this.setCustomValidity('');
	});
	
	document.getElementById('oldPassword').addEventListener('input', function () {
		
		var newPassword = document.getElementById('newPassword');
		if(newPassword !=null){
			newPassword.setCustomValidity('');
		}
	    var reapeatPassword = document.getElementById('repeatPassword');
		if(reapeatPassword != null){
			reapeatPassword.setCustomValidity('');
		}
	});

		document.getElementById('formId').addEventListener("submit", function(event){
			
			event.preventDefault();
			var oldPassword = this.querySelector('#oldPassword');
			var newPassword = this.querySelector('#newPassword');
			var repeatPassword = this.querySelector('#repeatPassword');

			if(oldPassword.value == newPassword.value){
				newPassword.setCustomValidity("Mật khẩu mới không được giống mật khẩu cũ");				
				newPassword.reportValidity();
			}else if(repeatPassword.value != newPassword.value){
				repeatPassword.setCustomValidity("Mật khẩu xác nhận không giống mật khẩu mới");
				repeatPassword.reportValidity();
			
			}else{
				newPassword.setCustomValidity("");
				repeatPassword.setCustomValidity("");
       			 this.submit();
			}
			
			 
		
		});
	</script>
    
</body>

</html>