<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="~{fragments :: head}">
</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments :: mainTop}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments :: mainHeader}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments :: topSearch}"></div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div th:replace="~{fragments :: allTitleBox}"></div>
    <!-- End All Title Box -->

    <section id="login-form">
        <div class="noi-dung">
            <div class="form">
                <h2>Quên mật khẩu</h2>
                <p style="font-size: 20px; color: rgb(255, 0, 128);">Chúng tôi sẽ gửi liên kết đặt lại mật khẩu đến email của bạn</p> <br>
                <div th:if="${error != null}">
				    <p class="text-danger" th:text="${error}"></p>
				</div>
				<div th:if="${message != null}">
				    <p class="text-success" th:text="${message}"></p>
				</div>
				
                <form th:action="@{/forgot-password}" method="post">
					
                    <div class="input-form">
                        <!-- <span>User name</span> -->
                        <input type="email" placeholder="Nhập email của bạn" name="email">
                    </div>


                    <div class="input-form">
                        <input type="submit" value="Gửi">
                    </div>
                    <div class="input-form">
                        <p>Đăng chưa có tài khoản ? <a th:href="@{/register}">Đăng kí ngay  </a></p>
                        <p>Bạn đã có tài khoản ? <a th:href="@{/login}">Đăng nhập ngay  </a></p>
                    </div>
                    
  
                </form>
                <h3>Log In With Social Network</h3>
                <ul class="icon-dang-nhap">
                    <li><i class="fab fa-facebook-f"></i></i></li>
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-weibo"></i></li>
                </ul>
            </div>
        </div>

        <!-- Start copyright  -->
	   <footer th:replace="~{fragments :: myFooter}"></footer>    
	    <!-- End copyright  -->  
    </section>
  
    <a  th:replace="~{fragments :: backToTop}"></a>

    <!--Script-->
    <div  th:replace="~{fragments :: script}"></div>
    
<script th:src="@{/js/active_ul_forLogin.js}"></script>
</body>

</html>