<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="~{fragments :: head}">
</head>

<body>
	<!-- Start Main Top -->
	<div th:replace="~{fragments :: mainTop}"></div>
	<!-- End Main Top -->

	<!-- Start Main Top -->
	<header th:replace="~{fragments :: mainHeader}"></header>
	<!-- End Main Top -->

	<!-- Start Top Search -->
	<div th:replace="~{fragments :: topSearch}"></div>
	<!-- End Top Search -->

	<!-- Start Slider -->
	<div th:replace="~{fragments :: allTitleBox}"></div>
	<!-- End Slider -->



	<!-- Start About Page  -->
	<div class="about-box-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="banner-frame"> <img class="img-fluid" th:src="@{images/4263339.jpg}" alt="" />
					</div>
				</div>
				<div class="col-lg-6">
					<h2 class="noo-sh-title-top"><span>HoKhanh nội thất</span></h2>
					<p>
						Chào mừng quý khách đến với cửa hàng nội thất của chúng tôi, nơi mà chúng tôi biến ước mơ về
						không gian sống lý tưởng của bạn thành hiện thực. Với bề dày kinh nghiệm và sự đam mê về nghệ
						thuật thiết kế, cửa hàng chúng tôi là địa điểm lý tưởng để khám phá và chọn lựa những sản phẩm
						nội thất đẳng cấp và sang trọng.</p>
					<p>Tại cửa hàng, chúng tôi tự hào giới thiệu đến khách hàng một bộ sưu tập đa dạng, từ những bộ sofa
						thoải mái, bàn ăn tinh tế đến những chiếc đèn trang trí và phụ kiện nghệ thuật. Mỗi sản phẩm đều
						được lựa chọn kỹ lưỡng để đảm bảo chất lượng và sự độc đáo, mang đến cho không gian sống của bạn
						một phong cách đặc trưng và cá nhân.</p>
					<p>Chúng tôi không chỉ cung cấp sản phẩm nội thất xuất sắc mà còn mang đến trải nghiệm mua sắm đẳng
						cấp. Đội ngũ nhân viên tận tâm và chuyên nghiệp của chúng tôi sẽ hỗ trợ bạn trong quá trình chọn
						lựa, đồng hành cùng bạn từ ý tưởng ban đầu đến việc bài trí cuối cùng.</p>
				</div>
			</div>
			<div class="row my-5">
				<div class="col-sm-6 col-lg-4">
					<div class="service-block-inner">
						<h3>Chúng tôi tin tưởng</h3>
						<p>Chúng tôi tin tưởng vào sức mạnh của thiết kế sáng tạo và chất lượng vật liệu để mang đến
							không gian sống hoàn hảo. Đội ngũ kiến trúc sư và nhà thiết kế của chúng tôi không chỉ là
							những người chuyên nghiệp tài năng mà còn là những người đam mê, luôn lắng nghe và tìm hiểu
							sâu sắc về ý kiến cá nhân của từng khách hàng. </p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="service-block-inner">
						<h3>Chúng tôi chuyên nghiệp</h3>
						<p>Trong lĩnh vực nội thất, chúng tôi tự hào là những "cao thủ" của sự sáng tạo và tinh tế.
							Chúng tôi không chỉ xem xét không gian sống như một thách thức, mà còn như một bức tranh
							nghệ thuật, và chúng tôi là những nghệ nhân tài năng, đưa vào mỗi dự án sự khéo léo và sự
							hiểu biết sâu sắc về thiết kế nội thất.
						</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="service-block-inner">
						<h3>Chúng tôi là chuyên gia</h3>
						<p>Chúng tôi không chỉ là người làm, chúng tôi là những chuyên gia tận tâm và am hiểu sâu sắc về
							nghệ thuật thiết kế nội thất. Với kinh nghiệm đa dạng và tầm nhìn sáng tạo, chúng tôi tự tin
							đưa ra những giải pháp tối ưu, tận dụng mọi không gian và vật liệu để tạo nên không gian
							sống vô cùng đẳng cấp và sang trọng. </p>
					</div>
				</div>
			</div>


			<!-- Start Feed  -->
			<div th:replace="~{fragments :: feed}"></div>
			<!-- End Feed  -->

			<!-- Start Footer  -->
			<footer th:replace="~{fragments :: myFooter}"></footer>


			<!--Script-->
			<div th:replace="~{fragments :: script}">
			</div>
			<script th:src="@{/js/active_ul.js}"></script>

</body>

</html>