<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="~{fragments :: head}">
</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments :: mainTop}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments :: mainHeader}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments :: topSearch}"></div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div th:replace="~{fragments :: allTitleBox}"></div>
    <!-- End All Title Box -->

    <section id="login-form">
        <div class="noi-dung">
            <div class="form">
                <h2>Khổi phục mật khẩu</h2>
                
             
                
                <form th:action="@{/reset_password}" method="post">
					<input type="hidden" name="token" th:value="${token}" />
                    <div class="input-form">
                        <!-- <span>User name</span> -->
                        <input type="password" name="password" id="password" placeholder="Nhập mật khẩu mới"  required autofocus>
                    </div>
                    
                    <div class="input-form">
                        <!-- <span>User name</span> -->
                        <input type="password" placeholder="Xác nhận mật khẩu mới" required oninput="checkPasswordMatch(this);">
                    </div>


                    <div class="input-form">
                        <input type="submit" value="Thay đổi mật khẩu">
                    </div>
                    <div class="input-form">
                        <p>Đăng chưa có tài khoản ? <a th:href="@{/register}">Đăng kí ngay  </a></p>
                        <p>Bạn đã có tài khoản ? <a th:href="@{/login}">Đăng nhập ngay  </a></p>
                    </div>
                    
  
                </form>
                <h3>Log In With Social Network</h3>
                <ul class="icon-dang-nhap">
                    <li><i class="fab fa-facebook-f"></i></i></li>
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-weibo"></i></li>
                </ul>
            </div>
        </div>

        <!-- Start copyright  -->
	   <footer th:replace="~{fragments :: myFooter}"></footer>    
	    <!-- End copyright  -->  
    </section>
  
    <a  th:replace="~{fragments :: backToTop}"></a>

    <!--Script-->
    <div  th:replace="~{fragments :: script}"></div>
    
    <script>
		function checkPasswordMatch(fieldConfirmPassword) {
		    if (fieldConfirmPassword.value != $("#password").val()) {
		        fieldConfirmPassword.setCustomValidity("mật khẩu không giống nhau!");
		    } else {
		        fieldConfirmPassword.setCustomValidity("");
		    }
		}
	</script>
    
<script th:src="@{/js/active_ul_forLogin.js}"></script>
</body>

</html>